<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dzc.admin.dao.RoomMapper">
    <resultMap id="BaseResultMap" type="com.dzc.admin.model.Room">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="room_name" jdbcType="VARCHAR" property="roomName"/>
        <result column="buidling_id" jdbcType="INTEGER" property="buidlingId"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, room_name, buidling_id
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_room
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_room
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.dzc.admin.model.Room">
    insert into t_room (id, room_name, buidling_id
      )
    values (#{id,jdbcType=INTEGER}, #{roomName,jdbcType=VARCHAR}, #{buidlingId,jdbcType=INTEGER}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.dzc.admin.model.Room">
        insert into t_room
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="roomName != null">
                room_name,
            </if>
            <if test="buidlingId != null">
                buidling_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="roomName != null">
                #{roomName,jdbcType=VARCHAR},
            </if>
            <if test="buidlingId != null">
                #{buidlingId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.dzc.admin.model.Room">
        update t_room
        <set>
            <if test="roomName != null">
                room_name = #{roomName,jdbcType=VARCHAR},
            </if>
            <if test="buidlingId != null">
                buidling_id = #{buidlingId,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.dzc.admin.model.Room">
    update t_room
    set room_name = #{roomName,jdbcType=VARCHAR},
      buidling_id = #{buidlingId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <select id="selectRooms" resultMap="BaseResultMap">
        select distinct
        room_name
        from
        t_room
    </select>

    <select id="selectRoomsByBuildingId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
        t_room
        where buidling_id=#{bid,jdbcType=INTEGER}
    </select>
</mapper>